/* styles.css */
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: url("https://www.shutterstock.com/image-illustration/abstract-background-pink-gray-blurry-260nw-2296018193.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    background-color: transparent;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgb(53, 51, 51);
    width: 400px;
    text-align: center;
}

h2 {
    color: #f899e4;
    text-shadow: 2px 2px 2px  rgb(83, 78, 78);
    font-size: 44px;
    font-family: sans-serif;
    font-weight: 800;
    margin-bottom: 20px;
}

input {
    width: 100%;
    padding: 15px;
    margin: 10px 0;
    border: 1px solid #6e6868;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
}

.button-container {
    display: flex;
    justify-content: space-around;
    gap: 10px;
}

button {
    margin-top: 16px;
    width: 45%; 
    padding: 12px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.5s ease;  
    box-sizing: border-box;
    position: relative;
    overflow: hidden;  
}

button[type="submit"] {
    background: rgb(219, 218, 219);
    background: radial-gradient(circle, rgb(212, 211, 212) 0%, rgb(231, 153, 222) 100%);
    color: rgb(92, 80, 80);
    box-shadow: 0 5px 15px rgb(150, 147, 150); 
}

button[type="submit"]:hover {
    background-color: #45a049;
    transform: scale(1.05); 
}

#submit {
    background-color: #db4437;
    color: rgb(83, 73, 73);
    box-shadow: 0 5px 15px rgb(150, 147, 150); /* Adding shadow */
}

#submit:hover {
    background-color: #c1351d;
    transform: scale(1.05); 
}


button::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400%;
    height: 300%;
    background: rgb(247, 119, 247);
    background: radial-gradient(circle, rgb(199, 69, 171) 0%, rgb(116, 100, 113) 100%); 
    transition: all 0.4s ease;
    border-radius: 50%;
    transform: translate(-50%, -50%) scale(0);
    opacity: 0.5;
    z-index: 0;
}

button:hover::before {
    transform: translate(-50%, -50%) scale(1);
    opacity: 0;  
}

input::placeholder {
    color: #888;
}

input:focus {
    border-color: #4CAF50;
    outline: none;
}

button:focus {
    outline: none;
}